.titulo{
    text-align: center;
    font-size: 26px;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;

}

.tabela{
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);

    &__cabecalho{
        color: #8B008B;

        &__conteudo{
            padding: 10px;
            border-bottom: 3px solid green;
        } 
    

    &__linha{
        margin-bottom: 10px;
        border-radius: 4px;

        &:last-child{
            .tabela__conteudo{
                border-bottom: none;
            }
        }
    }

    &__conteudo{
        padding: 10px;
        border-bottom: 1px solid ;
    }
}

}